.container {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 20px;
  grid-auto-rows: min-content;

  .label {
    font-weight: var(--bold-font-weight);

    .errorIcon {
      color: var(--primary-color);
    }
  }

  .input {
    padding: 10px 20px;
    border-radius: var(--default-border-radius);
    border: var(--default-border);

    &.error {
      border-color: var(--error-color);
      background: var(--error-bg);
    }
  }
}