.container {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 20px;

  .label {
    font-weight: var(--bold-font-weight);
  }

  .textarea {
    padding: 20px;
    border-radius: var(--default-border-radius);
    border: var(--default-border);
  }
}