.button {
  background: white;
  border:0;
  border-bottom: var(--light-border);
  padding: 15px 20px;
  text-align: left;
  color: var(--default-color);
  position: relative;
  cursor: pointer;
  transition: var(--default-transition);
  font-weight: var(--bold-font-weight);

  &:after {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    height: 100%;
    width: 6px;
    content: '';
    background-color: white;
    transition: var(--default-transition);
  }

  &.active {
    color: var(--primary-color);

    &:after {
      background-color: var(--primary-color);
      display: initial;
    }
  }  

  &:hover {
    background: var(--light-color-hover);
    color: var(--primary-color);
  }

  &:first-child {
    border-top-left-radius: var(--default-border-radius);
    border-top-right-radius: var(--default-border-radius);
  }

  &:last-child {
    border-bottom: 0;
    border-bottom-left-radius: var(--default-border-radius);
    border-bottom-right-radius: var(--default-border-radius);
  }

  .icon {
    margin-right: 20px;
  }
}