.container {
    display: grid;
    grid-template-columns:  200px 1fr;
    grid-gap: 20px;
    grid-auto-rows: min-content;

    .sidebar {
      position: sticky;
      top: 40px;
      max-height: 100vh;
    }
}